Descarga de la librería, recordar hacer restart al final

In [ ]:
!pip install geopy

Una prueba

In [1]:
import geopy.distance

coords_1 = (52.2296756, 21.0122287) # lat, long
coords_2 = (52.406374, 16.9251681)

print(geopy.distance.geodesic(coords_1, coords_2).km)

279.35290160430094

Abrimos el fichero excel con las estaciones

In [2]:
fichero = "pmed_ubicacion_12-2021.xlsx"
import pandas as pd

df = pd.read_excel(fichero)
df

,tipo_elem,distrito,id,cod_cent,nombre,utm_x,utm_y,longitud,latitud
0,URB,4.0,3840,01001,Jose Ortega y Gasset E-O - Pº Castellana-Serrano,441615.343347,4.475768e+06,-3.688323,40.430502
1,URB,4.0,3841,01002,Jose Ortega y Gasset O-E - Serrano-Pº Castellana,441705.882340,4.475770e+06,-3.687256,40.430524
2,URB,1.0,3842,01003,Pº Recoletos N-S - Almirante-Prim,441319.371258,4.474841e+06,-3.691727,40.422132
3,URB,4.0,3843,01004,Pº Recoletos S-N - Pl. Cibeles- Recoletos,441301.632986,4.474764e+06,-3.691929,40.421433
4,URB,4.0,3844,01005,(AFOROS) Pº Castellana S-N - Eduardo Dato - P...,441605.765072,4.476132e+06,-3.688470,40.433782
...,...,...,...,...,...,...,...,...,...
4566,M30,16.0,6809,PM43201,PM43201,444065.316510,4.481586e+06,-3.659954,40.483080
4567,M30,16.0,6810,PM43202,PM43202,444067.760453,4.481594e+06,-3.659926,40.483158
4568,M30,16.0,6933,PM43221,PM43221,443003.125903,4.481709e+06,-3.672497,40.484118
4569,M30,16.0,7129,PM43222,PM43222,443002.925186,4.481716e+06,-3.672500,40.484181
4570,M30,16.0,7015,PM43223,PM43223,443019.864262,4.481807e+06,-3.672308,40.485002

In [3]:
toledoSN = df[df.id == 4708]
toledoNS = df[df.id == 4709]

coord_toledoSN = (toledoSN.iloc[0].latitud, toledoSN.iloc[0].longitud)
coord_toledoNS = (toledoNS.iloc[0].latitud, toledoNS.iloc[0].longitud)

In [4]:
distSN = []
distNS = []
for r in df.iterrows():
    coord = (r[1].latitud, r[1].longitud)
    distSN.append(geopy.distance.geodesic(coord_toledoSN, coord).km)
    distNS.append(geopy.distance.geodesic(coord_toledoNS, coord).km)
    
df["distSN"] = distSN
df["distNS"] = distNS

df

,tipo_elem,distrito,id,cod_cent,nombre,utm_x,utm_y,longitud,latitud,distSN,distNS
0,URB,4.0,3840,01001,Jose Ortega y Gasset E-O - Pº Castellana-Serrano,441615.343347,4.475768e+06,-3.688323,40.430502,2.624667,2.617722
1,URB,4.0,3841,01002,Jose Ortega y Gasset O-E - Serrano-Pº Castellana,441705.882340,4.475770e+06,-3.687256,40.430524,2.684559,2.677803
2,URB,1.0,3842,01003,Pº Recoletos N-S - Almirante-Prim,441319.371258,4.474841e+06,-3.691727,40.422132,1.758889,1.753593
3,URB,4.0,3843,01004,Pº Recoletos S-N - Pl. Cibeles- Recoletos,441301.632986,4.474764e+06,-3.691929,40.421433,1.697440,1.692395
4,URB,4.0,3844,01005,(AFOROS) Pº Castellana S-N - Eduardo Dato - P...,441605.765072,4.476132e+06,-3.688470,40.433782,2.909368,2.901849
...,...,...,...,...,...,...,...,...,...,...,...
4566,M30,16.0,6809,PM43201,PM43201,444065.316510,4.481586e+06,-3.659954,40.483080,8.860933,8.852645
4567,M30,16.0,6810,PM43202,PM43202,444067.760453,4.481594e+06,-3.659926,40.483158,8.869718,8.861429
4568,M30,16.0,6933,PM43221,PM43221,443003.125903,4.481709e+06,-3.672497,40.484118,8.534383,8.525490
4569,M30,16.0,7129,PM43222,PM43222,443002.925186,4.481716e+06,-3.672500,40.484181,8.540827,8.531933
4570,M30,16.0,7015,PM43223,PM43223,443019.864262,4.481807e+06,-3.672308,40.485002,8.631926,8.623022

In [14]:
df = df.reindex(columns=['tipo_elem','id','nombre','latitud','longitud','distSN','distNS'])
df

,tipo_elem,id,nombre,latitud,longitud,distSN,distNS
0,URB,3840,Jose Ortega y Gasset E-O - Pº Castellana-Serrano,40.430502,-3.688323,2.624667,2.617722
1,URB,3841,Jose Ortega y Gasset O-E - Serrano-Pº Castellana,40.430524,-3.687256,2.684559,2.677803
2,URB,3842,Pº Recoletos N-S - Almirante-Prim,40.422132,-3.691727,1.758889,1.753593
3,URB,3843,Pº Recoletos S-N - Pl. Cibeles- Recoletos,40.421433,-3.691929,1.697440,1.692395
4,URB,3844,(AFOROS) Pº Castellana S-N - Eduardo Dato - P...,40.433782,-3.688470,2.909368,2.901849
...,...,...,...,...,...,...,...
4566,M30,6809,PM43201,40.483080,-3.659954,8.860933,8.852645
4567,M30,6810,PM43202,40.483158,-3.659926,8.869718,8.861429
4568,M30,6933,PM43221,40.484118,-3.672497,8.534383,8.525490
4569,M30,7129,PM43222,40.484181,-3.672500,8.540827,8.531933
4570,M30,7015,PM43223,40.485002,-3.672308,8.631926,8.623022

In [15]:
df.sort_values(by=["distSN"],ascending=True)

,tipo_elem,id,nombre,latitud,longitud,distSN,distNS
3978,URB,4708,TOLEDO S-N(DUQUE DE ALBA-COLEGIATA),40.412157,-3.707825,0.000000,0.010035
3979,URB,4709,TOLEDO N-S(SEGOVIA-SAN MILLAN),40.412247,-3.707840,0.010035,0.000000
3981,URB,4711,TOLEDO N-S(SAN MILLAN-LSPEZ SILVA),40.411025,-3.708651,0.143890,0.152105
3977,URB,4707,COLEGIATA O-E(TOLEDO-ROMANONES),40.412975,-3.706347,0.154865,0.150281
3987,URB,4717,SEGOVIA E-O(CAVA BAJA -TOLEDO),40.413618,-3.708088,0.163780,0.153746
...,...,...,...,...,...,...,...
2592,URB,10002,Playa de Riazor - Arroyomolino-Av. Logroño,40.475602,-3.582538,12.751948,12.747468
2581,URB,6928,Av. Logroño - Doblada-Pajarones,40.476914,-3.582013,12.869847,12.865300
1389,URB,6635,"AV. VICTORIA,91 O-E(AV. ESTACION-DOMINGO ALVAREZ)",40.474726,-3.835997,12.904075,12.897672
1417,URB,3835,(TÁCTICO) AV. ESTACIÓN Ø8 S-N (TV. ESTACIÓN-A...,40.474639,-3.836262,12.917846,12.911455
1391,URB,6637,"AV. VICTORIA, 93 O-E (TV. ESTACIÓN-AV. ESTACIÓN)",40.475073,-3.836943,12.992446,12.986049

In [23]:
dfCercanosSN=df[df.distSN<0.43]
dfCercanosNS=df[df.distNS<0.43]

In [26]:
dfCercanosSN.sort_values(by=["distSN"],ascending=True)

,tipo_elem,id,nombre,latitud,longitud,distSN,distNS
3978,URB,4708,TOLEDO S-N(DUQUE DE ALBA-COLEGIATA),40.412157,-3.707825,0.000000,0.010035
3979,URB,4709,TOLEDO N-S(SEGOVIA-SAN MILLAN),40.412247,-3.707840,0.010035,0.000000
3981,URB,4711,TOLEDO N-S(SAN MILLAN-LSPEZ SILVA),40.411025,-3.708651,0.143890,0.152105
3977,URB,4707,COLEGIATA O-E(TOLEDO-ROMANONES),40.412975,-3.706347,0.154865,0.150281
3987,URB,4717,SEGOVIA E-O(CAVA BAJA -TOLEDO),40.413618,-3.708088,0.163780,0.153746
3980,URB,4710,PLAZA DE LA CEBADA O-E(HUMILLADERO-TOLEDO),40.411355,-3.709668,0.179995,0.184089
3985,URB,4715,SEGOVIA O-E(SAN JUSTO-CUCHILLEROS),40.413711,-3.709094,0.203373,0.194319
3989,URB,3401,CONCEPCION JERSNIMA O-E(SALVADOR -TOLEDO),40.413882,-3.706541,0.220391,0.212428
3986,URB,4716,CUCHILLEROS N-S(MAESTRO VILLA -TINTOREROS),40.414360,-3.708049,0.245411,0.235386
3988,URB,4718,CONDE DE ROMANONES N-S(CONCEPCION JERSNIMA-COL...,40.413165,-3.704871,0.274563,0.271797
3984,URB,4714,SEGOVIA O-E(SAN JUSTO-COSTANILLA DE SAN PEDRO),40.413541,-3.710517,0.275329,0.268856
3982,URB,4712,TOLEDO S-N(ARGANZUELA-LSPEZ SILVA),40.409548,-3.709768,0.333398,0.341497
498,URB,4199,DR. CORTEZO S-N(DR. CORTEZO-PL. JACINTO BENAVE...,40.413798,-3.703657,0.398001,0.394646
594,URB,4263,Cra.San Francisco E-O(Isidro Labrador-Gran Via...,40.411014,-3.712613,0.425736,0.427644

In [29]:
dfCercanosNS.sort_values(by=["distNS"],ascending=True)

,tipo_elem,id,nombre,latitud,longitud,distSN,distNS
3979,URB,4709,TOLEDO N-S(SEGOVIA-SAN MILLAN),40.412247,-3.707840,0.010035,0.000000
3978,URB,4708,TOLEDO S-N(DUQUE DE ALBA-COLEGIATA),40.412157,-3.707825,0.000000,0.010035
3977,URB,4707,COLEGIATA O-E(TOLEDO-ROMANONES),40.412975,-3.706347,0.154865,0.150281
3981,URB,4711,TOLEDO N-S(SAN MILLAN-LSPEZ SILVA),40.411025,-3.708651,0.143890,0.152105
3987,URB,4717,SEGOVIA E-O(CAVA BAJA -TOLEDO),40.413618,-3.708088,0.163780,0.153746
3980,URB,4710,PLAZA DE LA CEBADA O-E(HUMILLADERO-TOLEDO),40.411355,-3.709668,0.179995,0.184089
3985,URB,4715,SEGOVIA O-E(SAN JUSTO-CUCHILLEROS),40.413711,-3.709094,0.203373,0.194319
3989,URB,3401,CONCEPCION JERSNIMA O-E(SALVADOR -TOLEDO),40.413882,-3.706541,0.220391,0.212428
3986,URB,4716,CUCHILLEROS N-S(MAESTRO VILLA -TINTOREROS),40.414360,-3.708049,0.245411,0.235386
3984,URB,4714,SEGOVIA O-E(SAN JUSTO-COSTANILLA DE SAN PEDRO),40.413541,-3.710517,0.275329,0.268856
3988,URB,4718,CONDE DE ROMANONES N-S(CONCEPCION JERSNIMA-COL...,40.413165,-3.704871,0.274563,0.271797
3982,URB,4712,TOLEDO S-N(ARGANZUELA-LSPEZ SILVA),40.409548,-3.709768,0.333398,0.341497
498,URB,4199,DR. CORTEZO S-N(DR. CORTEZO-PL. JACINTO BENAVE...,40.413798,-3.703657,0.398001,0.394646
599,URB,4268,MAYOR O-E (PL. VILLA-MILANESES),40.415549,-3.710297,0.431089,0.421805
600,URB,4269,(AFOROS) MAYOR O-E (COMANDANTE MORERAS -,40.416088,-3.708113,0.437238,0.427226
594,URB,4263,Cra.San Francisco E-O(Isidro Labrador-Gran Via...,40.411014,-3.712613,0.425736,0.427644

In [6]:
toledoSN.describe()

       distrito      id          utm_x         utm_y  longitud    latitud
count       1.0     1.0       1.000000  1.000000e+00  1.000000   1.000000
mean        1.0  4708.0  439944.833193  4.473745e+06 -3.707825  40.412157
std         NaN     NaN            NaN           NaN       NaN        NaN
min         1.0  4708.0  439944.833193  4.473745e+06 -3.707825  40.412157
25%         1.0  4708.0  439944.833193  4.473745e+06 -3.707825  40.412157
50%         1.0  4708.0  439944.833193  4.473745e+06 -3.707825  40.412157
75%         1.0  4708.0  439944.833193  4.473745e+06 -3.707825  40.412157
max         1.0  4708.0  439944.833193  4.473745e+06 -3.707825  40.412157

In [1]:
#### Dias entre dos días

In [ ]:
from datetime import date, timedelta

start_date = date(2021, 1, 1) 
end_date = date(2021, 12, 31)    # perhaps date.now()

delta = end_date - start_date   # returns timedelta

for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    print(day)