## Generar los 2 documentos de todo el año 2021 (para la calle Toledo en ambos sentidos)

In [1]:
import pandas as pd

folderPath = "C:/Users/jonay/Desktop/Master_IoT/TFM/2021/"

#Calles principales
calleToledo1=4708
calleToledo2=4709

#Calles a menos de 0.43KM de las calles principales
cToledo3=4711
cColegiata=4707
cTintoreros=4717
plazaCebada=4710
cSegovia1=4715
cConcepciónJ=3401
cCuchilleros=4716
cCondeR=4718
cSegovia2=4714
cToledo4=4712
cDoctorC=4199
carreraSF=4263
cMayor1=4268
cMayor2=4269

### Documentos para las 2 calles principales

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df1 = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df1_calle = df1[df1.id==calleToledo1]
df1_calle.to_csv("calleToledo1_2021.csv",sep=";", mode='w', index=False, header=True)

df2 = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df2_calle = df2[df2.id==calleToledo2]
df2_calle.to_csv("calleToledo2_2021.csv",sep=";", mode='w', index=False, header=True)

    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df1 = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df1_calle = df1[df1.id==calleToledo1]
    df1_calle.to_csv("calleToledo1_2021.csv",sep=";", mode='a', index=False, header=False)
    
    df2 = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df2_calle = df2[df2.id==calleToledo1]
    df2_calle.to_csv("calleToledo1_2021.csv",sep=";", mode='a', index=False, header=False)

### Documentos para el resto de calles

##### Calle Toledo 3 después de la rotondo Cebada, sentido N-S

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cToledo3]
df_calle.to_csv("cToledo3_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cToledo3]
    df_calle.to_csv("cToledo3_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle de la Colegiata, desde Calle Toledo

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cColegiata]
df_calle.to_csv("cColegiata_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cColegiata]
    df_calle.to_csv("cColegiata_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle de Tintoreros, hacia Calle Toledo

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cTintoreros]
df_calle.to_csv("cTintoreros_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cTintoreros]
    df_calle.to_csv("cTintoreros_2021.csv",sep=";", mode='a', index=False, header=False)

##### Plaza Cebada, hacia Calle Toledo

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==plazaCebada]
df_calle.to_csv("plazaCebada_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==plazaCebada]
    df_calle.to_csv("plazaCebada_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Segovia, hacia Calle Toledo

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cSegovia1]
df_calle.to_csv("cSegovia1_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cSegovia1]
    df_calle.to_csv("cSegovia1_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Concepción Jersnima, hacia Calle Toledo

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cConcepciónJ]
df_calle.to_csv("cConcepciónJ_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cConcepciónJ]
    df_calle.to_csv("cConcepciónJ_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Cuchilleros, hacia Calle Toledo

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cCuchilleros]
df_calle.to_csv("cCuchilleros_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cCuchilleros]
    df_calle.to_csv("cCuchilleros_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Conde de Romanones, dirección N-S

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cCondeR]
df_calle.to_csv("cCondeR_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cCondeR]
    df_calle.to_csv("cCondeR_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Segovia 2, hacia calle Toledo

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cSegovia2]
df_calle.to_csv("cSegovia2_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cSegovia2]
    df_calle.to_csv("cSegovia2_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Toledo 4, dirección S-N

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cToledo4]
df_calle.to_csv("cToledo4_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cToledo4]
    df_calle.to_csv("cToledo4_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Doctor Cortezo, dirección S-N

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cDoctorC]
df_calle.to_csv("cDoctorC_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cDoctorC]
    df_calle.to_csv("cDoctorC_2021.csv",sep=";", mode='a', index=False, header=False)

##### Carrera de San Francisco, dirección E-O

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==carreraSF]
df_calle.to_csv("carreraSF_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==carreraSF]
    df_calle.to_csv("carreraSF_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Mayor, dirección O-E

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cMayor1]
df_calle.to_csv("cMayor1_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cMayor1]
    df_calle.to_csv("cMayor1_2021.csv",sep=";", mode='a', index=False, header=False)

##### Calle Mayor 2, dirección O-E

In [ ]:
#Primer csv, sacar datos con ese id y añadir a un nuevo csv donde juntaremos todos los datos de ese id de distintos meses
df = pd.read_csv(folderPath + "01-2021.csv",sep=";")
df_calle = df[df.id==cMayor2]
df_calle.to_csv("cMayor2_2021.csv",sep=";", mode='w', index=False, header=True)
    
#Añadir el resto de meses a ese nuevo csv
meses=["02","03","04","05","06","07","08","09","10","11","12"]
for mes in meses:
    df = pd.read_csv(folderPath + mes + "-2021.csv",sep=";")
    df_calle = df[df.id==cMayor2]
    df_calle.to_csv("cMayor2_2021.csv",sep=";", mode='a', index=False, header=False)

### Plots para las 2 calles principales (calleToledo1 y calleToledo2)

In [2]:
df_CT1 = pd.read_csv("calleToledo1_2021.csv",sep=";")
df_CT1 = df_CT1[['id', 'fecha', 'intensidad', 'ocupacion', 'carga']]
df_CT1['fecha'] = pd.to_datetime(df_CT1['fecha'])
df_CT1

         id               fecha  intensidad  ocupacion  carga
0      4708 2021-01-01 00:00:00          87        1.0      7
1      4708 2021-01-01 00:15:00          65        2.0      6
2      4708 2021-01-01 00:30:00         104        3.0      9
3      4708 2021-01-01 00:45:00         124        2.0     11
4      4708 2021-01-01 01:00:00         148        4.0     13
...     ...                 ...         ...        ...    ...
34640  4708 2021-12-31 22:45:00         148        4.0     14
34641  4708 2021-12-31 23:00:00          80        2.0      7
34642  4708 2021-12-31 23:15:00         116        3.0     10
34643  4708 2021-12-31 23:30:00         150        4.0     12
34644  4708 2021-12-31 23:45:00         144        3.0     12

[34645 rows x 5 columns]

In [3]:
df_CT2 = pd.read_csv("calleToledo1_2021.csv",sep=";")
df_CT2 = df_CT2[['id', 'fecha', 'intensidad', 'ocupacion', 'carga']]
df_CT2['fecha'] = pd.to_datetime(df_CT2['fecha'])
df_CT2

         id               fecha  intensidad  ocupacion  carga
0      4708 2021-01-01 00:00:00          87        1.0      7
1      4708 2021-01-01 00:15:00          65        2.0      6
2      4708 2021-01-01 00:30:00         104        3.0      9
3      4708 2021-01-01 00:45:00         124        2.0     11
4      4708 2021-01-01 01:00:00         148        4.0     13
...     ...                 ...         ...        ...    ...
34640  4708 2021-12-31 22:45:00         148        4.0     14
34641  4708 2021-12-31 23:00:00          80        2.0      7
34642  4708 2021-12-31 23:15:00         116        3.0     10
34643  4708 2021-12-31 23:30:00         150        4.0     12
34644  4708 2021-12-31 23:45:00         144        3.0     12

[34645 rows x 5 columns]

In [4]:
print(df_CT1.describe())
print("\n")
print(df_CT2.describe())

            id    intensidad     ocupacion         carga
count  34645.0  34645.000000  34645.000000  34645.000000
mean    4708.0    190.174109      9.398759     20.347005
std        0.0     92.405175     13.520503     14.680491
min     4708.0      0.000000      0.000000      0.000000
25%     4708.0    115.000000      3.000000     10.000000
50%     4708.0    207.000000      6.000000     19.000000
75%     4708.0    260.000000      9.000000     25.000000
max     4708.0   1732.000000     90.000000     92.000000


            id    intensidad     ocupacion         carga
count  34645.0  34645.000000  34645.000000  34645.000000
mean    4708.0    190.174109      9.398759     20.347005
std        0.0     92.405175     13.520503     14.680491
min     4708.0      0.000000      0.000000      0.000000
25%     4708.0    115.000000      3.000000     10.000000
50%     4708.0    207.000000      6.000000     19.000000
75%     4708.0    260.000000      9.000000     25.000000
max     4708.0   1732.000000     90.000000     92.000000

### Outliers Intensidad para cada dia

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

mesminimo = df_CT1.fecha.dt.month.min()
mesmaximo = df_CT1.fecha.dt.month.max()

for mes in range(mesminimo,mesmaximo+1):
    elmes = df_CT1[df_CT1.fecha.dt.month==mes]
    medianaMes = elmes.intensidad.median()
    madMes = elmes.intensidad.mad()
    #actualizar path
    path = ('C:/Users/jonay/Desktop/Master_IoT/TFM/figuras/calleToledo1/meses/intensidad/mes' + str(mes) +"/")
    #iterar para cada mes
    diaminimo = df_CT1.fecha.dt.day.min()
    diamaximo = df_CT1.fecha.dt.day.max()
    for dia in range(diaminimo,diamaximo+1):
        #mediana y mad del dia
        eldia = elmes[(elmes.fecha.dt.day==dia)]
        eldia.sort_values(by=["fecha"],inplace=True)
        #plot
        figure, ax = plt.subplots(1,figsize=(12, 4),dpi=100)
        outliers = eldia[(eldia.intensidad>medianaMes+3*madMes)]
        plt.scatter(eldia.fecha,eldia.intensidad)
        plt.scatter(outliers.fecha,outliers.intensidad,color="r")
        #guardar imagen
        plt.savefig(path + str(dia) + '.png', dpi=100, transparent=True)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

mesminimo = df_CT2.fecha.dt.month.min()
mesmaximo = df_CT2.fecha.dt.month.max()

for mes in range(mesminimo,mesmaximo+1):
    elmes = df_CT2[df_CT2.fecha.dt.month==mes]
    medianaMes = elmes.intensidad.median()
    madMes = elmes.intensidad.mad()
    #actualizar path
    path = ('C:/Users/jonay/Desktop/Master_IoT/TFM/figuras/calleToledo2/meses/intensidad/mes' + str(mes) +"/")
    #iterar para cada mes
    diaminimo = df_CT2.fecha.dt.day.min()
    diamaximo = df_CT2.fecha.dt.day.max()
    for dia in range(diaminimo,diamaximo+1):
        #mediana y mad del dia
        eldia = elmes[(elmes.fecha.dt.day==dia)]
        eldia.sort_values(by=["fecha"],inplace=True)
        #plot
        figure, ax = plt.subplots(1,figsize=(12, 4),dpi=100)
        outliers = eldia[(eldia.intensidad>medianaMes+3*madMes)]
        plt.scatter(eldia.fecha,eldia.intensidad)
        plt.scatter(outliers.fecha,outliers.intensidad,color="r")
        #guardar imagen
        plt.savefig(path + str(dia) + '.png', dpi=100, transparent=True)

### Outliers ocupacion para cada dia

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

mesminimo = df_CT1.fecha.dt.month.min()
mesmaximo = df_CT1.fecha.dt.month.max()

for mes in range(mesminimo,mesmaximo+1):
    elmes = df_CT1[df_CT1.fecha.dt.month==mes]
    medianaMes = elmes.ocupacion.median()
    madMes = elmes.ocupacion.mad()
    print(medianaMes,madMes)
    #actualizar path
    path = ('C:/Users/jonay/Desktop/Master_IoT/TFM/figuras/calleToledo1/meses/ocupacion/mes' + str(mes) +"/")
    #iterar para cada mes
    diaminimo = df_CT1.fecha.dt.day.min()
    diamaximo = df_CT1.fecha.dt.day.max()
    for dia in range(diaminimo,diamaximo+1):
        #mediana y mad del dia
        eldia = elmes[(elmes.fecha.dt.day==dia)]
        eldia.sort_values(by=["fecha"],inplace=True)
        #plot
        figure, ax = plt.subplots(1,figsize=(12, 4),dpi=100)
        outliers = eldia[(eldia.ocupacion>medianaMes+3*madMes)]
        plt.scatter(eldia.fecha,eldia.ocupacion, label='Valores normales')
        plt.scatter(outliers.fecha,outliers.ocupacion,color="r", label='Posibles outliers')
        plt.title('Valores de Ocupación por horas')
        plt.xlabel('Momento de medición')
        plt.ylabel('Ocupación')
        # Agregar leyenda
        plt.legend()
        #guardar imagen
        plt.savefig(path + str(dia) + '.png', dpi=100, transparent=True)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

mesminimo = df_CT2.fecha.dt.month.min()
mesmaximo = df_CT2.fecha.dt.month.max()

for mes in range(mesminimo,mesmaximo+1):
    elmes = df_CT2[df_CT2.fecha.dt.month==mes]
    medianaMes = elmes.ocupacion.median()
    madMes = elmes.ocupacion.mad()
    print(medianaMes,madMes)
    #actualizar path
    path = ('C:/Users/jonay/Desktop/Master_IoT/TFM/figuras/calleToledo2/meses/ocupacion/mes' + str(mes) +"/")
    #iterar para cada mes
    diaminimo = df_CT2.fecha.dt.day.min()
    diamaximo = df_CT2.fecha.dt.day.max()
    for dia in range(diaminimo,diamaximo+1):
        #mediana y mad del dia
        eldia = elmes[(elmes.fecha.dt.day==dia)]
        eldia.sort_values(by=["fecha"],inplace=True)
        #plot
        figure, ax = plt.subplots(1,figsize=(12, 4),dpi=100)
        outliers = eldia[(eldia.ocupacion>medianaMes+3*madMes)]
        plt.scatter(eldia.fecha,eldia.ocupacion)
        plt.scatter(outliers.fecha,outliers.ocupacion,color="r")
        #guardar imagen
        plt.savefig(path + str(dia) + '.png', dpi=100, transparent=True)